html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/login_bg.jpg') no-repeat center top;
    background-size: cover;
}

.titleAndLogReg {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title {
    height: 60px;
    background: url(/assets/images/login_title.png) no-repeat center;
}

.reg {
    display: none;
}

.layui-form {
    padding: 0 30px;
}


/* 第一种 */


/*  .links {
    float: right;
    font-size: 12px;
}*/


/* 第二种 */

.links {
    display: flex;
    /* 从主轴上最后一个开始排 */
    justify-content: flex-end;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-input {
    padding-left: 32px;
}